:root {
  --e-global-color-primary: #6ec1e4;
  --e-global-color-secondary: #54595f;
  --e-global-color-text: #7a7a7a;
  --e-global-color-accent: #61ce70;
  --e-global-color-b7bc268: #02162d;
  --e-global-color-50a63db: #36e0f7;
  --e-global-color-6c2851d: #083756;
  --e-global-color-4427aed: #ffffff;
  --e-global-color-8961924: #787878;
  --e-global-color-2477a8f: #000000;
  --e-global-color-da29c75: #197188;
  --e-global-color-9af0954: #eafcfe;
  --e-global-color-4e7a7b5: #052b45;
  --e-global-color-cb2197e: #010c23;
  --e-global-color-64f4bb2: #052b45;
  --e-global-color-573fdd6: #f9b900;
  --e-global-color-ab78d65: #052b45;
  --e-global-typography-primary-font-family: "Ubuntu";
  --e-global-typography-primary-font-weight: 700;
  --e-global-typography-secondary-font-family: "Ubuntu";
  --e-global-typography-secondary-font-size: 20px;
  --e-global-typography-secondary-font-weight: 400;
  --e-global-typography-secondary-text-decoration: none;
  --e-global-typography-secondary-line-height: 1.1em;
  --e-global-typography-text-font-family: "Manrope";
  --e-global-typography-text-font-size: 20px;
  --e-global-typography-text-font-weight: 400;
  --e-global-typography-text-text-decoration: none;
  --e-global-typography-accent-font-family: "Manrope";
  --e-global-typography-accent-font-size: 18px;
  --e-global-typography-accent-font-weight: 600;
  --e-global-typography-accent-text-decoration: none;
  --e-global-typography-b67282c-font-family: "Ubuntu";
  --e-global-typography-b67282c-font-size: 22px;
  --e-global-typography-b67282c-font-weight: 400;
  --e-global-typography-b67282c-text-decoration: none;
  --e-global-typography-a0c66cc-font-family: "Manrope";
  --e-global-typography-a0c66cc-font-size: 20px;
  --e-global-typography-a0c66cc-font-weight: 400;
  --e-global-typography-a0c66cc-text-decoration: none;
  --e-global-typography-6e0e4ef-font-family: "Manrope";
  --e-global-typography-6e0e4ef-font-size: 18px;
  --e-global-typography-6e0e4ef-font-weight: 400;
  --e-global-typography-6e0e4ef-text-decoration: none;
  --e-global-typography-5627db3-font-family: "Manrope";
  --e-global-typography-5627db3-font-size: 16px;
  --e-global-typography-5627db3-font-weight: 400;
  --e-global-typography-5627db3-text-decoration: none;
  --e-global-typography-abbeb72-font-family: "Manrope";
  --e-global-typography-abbeb72-font-size: 14px;
  --e-global-typography-abbeb72-font-weight: 400;
  --e-global-typography-abbeb72-text-decoration: none;
  --e-global-typography-4c19da7-font-size: 18px;
  --e-global-typography-4c19da7-font-weight: 600;
  --e-global-typography-4c19da7-text-decoration: none;
  --e-global-typography-ca91706-font-family: "Ubuntu";
  --e-global-typography-ca91706-font-size: 16px;
  --e-global-typography-ca91706-font-weight: 500;
  --e-global-typography-403a7e2-font-family: "Ubuntu";
  --e-global-typography-403a7e2-font-size: 66px;
  --e-global-typography-403a7e2-font-weight: 700;
  --e-global-typography-403a7e2-text-decoration: none;
  --e-global-typography-403a7e2-line-height: 1.1em;
  --e-global-typography-b7702d5-font-family: "Ubuntu";
  --e-global-typography-b7702d5-font-size: 46px;
  --e-global-typography-b7702d5-font-weight: 700;
  --e-global-typography-b7702d5-text-decoration: none;
  --e-global-typography-b7702d5-line-height: 1.1em;
  --e-global-typography-26a1339-font-family: "Ubuntu";
  --e-global-typography-26a1339-font-size: 32px;
  --e-global-typography-26a1339-font-weight: 700;
  --e-global-typography-26a1339-text-decoration: none;
  --e-global-typography-26a1339-line-height: 1.1em;
  --e-global-typography-80650e2-font-size: 22px;
  --e-global-typography-80650e2-font-weight: 700;
  --e-global-typography-80650e2-text-decoration: none;
  --e-global-typography-80650e2-line-height: 1.1em;
  --e-global-typography-e9fd589-font-family: "Ubuntu";
  --e-global-typography-e9fd589-font-size: 22px;
  --e-global-typography-e9fd589-font-weight: 500;
  --e-global-typography-e9fd589-text-decoration: none;
  --e-global-typography-e9fd589-line-height: 1.1em;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  /* user-select: none; */
  /* text-align: justify; */
}
.Container {
  width: 99% !important;
  max-width: 1440px !important;
  user-select: none;
  scroll-behavior: smooth;
  text-align: justify;
  word-break: keep-all;
  overflow: hidden;
}
*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(204, 204, 204);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background: rgb(0, 33, 65);
}
.nav__brand {
  text-transform: uppercase;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 50vw;
    background: rgb(0, 33, 65);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
}
/* Active Class */
.nav__active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}

/* Swiper carousel */
.swiper {
  width: 100%;
  height: 100% !important;
}

.swiper-slide {
  width: 33% !important;
  text-align: center;
  font-size: 18px !important;
  background: #fff !important;
  height: auto !important;

  /* Center slide text vertically */
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 10%;
  margin-top: 4rem 0rem 0rem 0rem ;
}

.swiper-slide img {
  /* display: block; */
  /* width: 100%;
  height: 100%; */
  /* object-fit: cover; */
}
